html,
body{
   margin: 0;
   font-family: 'Poppins', sans-serif;
   background-color:#f5e8ba;
}

#wrapper div,#wrapper h2{
    display:flex;
    justify-content: center;
    
}

h2{
    color:#ffeba7;
    letter-spacing: 1px;
}

#input{
    border-radius: 5px;
    border: 2px solid rgb(28, 94, 156) ;
    margin-top:30px;
    height:2em;
    width:350px;
    padding-left:10px;
}

input:active{
    border:none;
}
#wrapper{
   height: 500px;
   width: 300px;
   background-color: #77787e;
   border-radius: 15px;
   padding: 30px;
   margin: 100px auto;

}


button{
    margin-top:20px;
    background-color:#b3cc92;
    border-radius: 4px;
    height: 44px;
    font-weight: 600;
    padding: 0 30px;
    letter-spacing: 1px;
    border: none;
    color: rgb(13, 28, 228);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button:hover{
    cursor:pointer;
}
#result{
    color:white;
    margin-top:20px;
    font-size:20px;
}